
{% block content %}
 <form  class="form-signin" role="form" method="post">{% csrf_token %} 
     
         <h2 class="form-signin-heading">Enter New Password</h2>
          <div class="form-control">
           <input type="password" placeholder="New Password" value = "" id ="password" name="password1"class="form-control">
           <input type="password" placeholder="Confirm New Password" value = "" id ="password"name="password2"class="form-control">
          </div>
         <h5>Password entered does not match</h5> 
         <button class="btn btn-lg btn-primary btn-block" type="submit" value ="login">Submit</button>

 <form>
 {% endblock %}
